parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''atime'' on array\{0\: int, 1\: int, 2\: int, 3\: int, 4\: int, 5\: int, 6\: int, 7\: int, \.\.\.\}\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 7
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Offset ''message'' might not exist on array\{type\: int, message\: string, file\: string, line\: int\}\|null\.$#'
			identifier: offsetAccess.notFound
			count: 33
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$group_id of function posix_getgrgid expects int, int\|false given\.$#'
			identifier: argument.type
			count: 1
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$stream of function fflush expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 1
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$stream of function flock expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 20
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$stream of function fread expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 6
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$stream of function fseek expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 7
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$stream of function ftell expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 3
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$stream of function ftruncate expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 1
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$stream of function fwrite expects resource, resource\|false given\.$#'
			identifier: argument.type
			count: 9
			path: ../tests/Unit/VfsStreamWrapperTest.php

		-
			message: '#^Parameter \#1 \$user_id of function posix_getpwuid expects int, int\|false given\.$#'
			identifier: argument.type
			count: 2
			path: ../tests/Unit/VfsStreamWrapperTest.php
